# IntelliJ IDEA
.idea/

# Compiled class file
target/
build/

# Log files
*.log

# Properties
application.properties
application.yml

# OS-specific files
.DS_Store
Thumbs.db

# Maven specific
mvnw
mvnw.cmd
